<div class="box">
  <div class="columns is-moile is-gapless">
    <div class="column">
    <div class="card">
      <h3><%= customer.full_name %></h3>
      <figure class="image is-128x128">
        <%= image_tag customer.image %>
      </figure>
      <p>Phone: <%= number_to_phone(customer.phone_number, area_code: true, delimiter: '-') %></p>
      <% if customer.email_address.present? %>
        <p>Email: <%= customer.email_address %></p>
      <% end %>
      <% if customer.notes.present? %>
        <p>Notes: <%= customer.notes %></p>
      <% end %>
      </div>
    </div>
  </div>
</div>
