<div class="box">
  <div class="columns is-mobile is-multiline">
   <% @customers.each do |customer| %>
    <div class="column is-3">

    <div class= "box">
      <h3 class="has-text-weight-bold"><%= customer.full_name %></h3>
      <figure class="image is-2by3">
        <%= image_tag customer.image %>
      </figure>
      <p class="my-2">Phone: <%= number_to_phone(customer.phone_number, area_code: true, delimiter: '-') %></p>
      <% if customer.email_address.present? %>
        <p>Email: <%= customer.email_address %></p>
      <% end %>
      <% if customer.notes.present? %>
        <p>Notes: <%= customer.notes %></p>
      <% end %>
      </div>
    </div>

  </div>
  </div>

