<div class="columns">
<div class="column">
 <h3><%= customer.full_name %></h3>
  <%= image_tag customer.image %>

  <p>Phone: <%= number_to_phone(customer.phone_number, area_code: true, delimiter: '-') %></p>

   <% if customer.email_address.present? %>
      <p>Email: <%= customer.email_address %></p>
    <% end %>

    <% if customer.notes.present? %>
      <p>Notes: <%= customer.notes %></p>
    <% end %>

</div>
</div>